body {
  background-color: #f6f0e8;
}

h1 {
  font-family: $font-lora;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  padding: 2em 0 2em 0;
  text-align: center;
  text-transform: uppercase;
}

a {
  @include link-format;
}

#show-code-button-one, #show-code-button-two, #show-code-button-three, #show-code-button-four {
  button {
    background-color: lighten($primary-blue-color, 10%);
    color: $link-text-color;
    font-family: $font-lora;
    font-size: 14px;
    &:hover {
      background-color: darken($primary-blue-color, 5%);
      cursor: pointer;
    }
  }
  @include code-button;
}

#code-snippet-one, #code-snippet-two, #code-snippet-three, #code-snippet-four {
  @include code-snippet-format;
  height: 345px;
}

.codepen {
  margin-top: 1em;
}
