body {
  background-color: #f6f0e8;
}

h1 {
  font-family: $font-lora;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  padding: 2em 0 2em 0;
  text-align: center;
  text-transform: uppercase;
}

a {
  @include link-format;
}

.show-code-button {
  button {
    background-color: $primary-blue-color;
    border-color: darken($primary-blue-color, 20%) darken($primary-blue-color, 10%);
    font-family: $font-roboto;
    font-size: 14px;
    &:hover {
      background-color: lighten($primary-blue-color, 25%);
    }
  }
  @include code-button;
}

.code-snippet {
  @include code-snippet-format;
  height: 345px;
}

.codepen {
  margin-top: 1em;
}
