@mixin project-container {
  margin: auto;
  margin-top: 0.5em;
  width: 89%;
}

@mixin link-format {
  color: black;
  text-decoration: none;
}

@mixin box-shadow {
  -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@mixin code-button {
  background-color: lighten($primary-blue-color, 10%);
  color: $link-text-color;
  font-family: $font-lora;
  font-size: 14px;
  margin: 6em 0 1.5em 0;
  &:hover {
    background-color: darken($primary-blue-color, 5%);
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

@mixin code-snippet-format {
  text-align: center;
  width: 100%;
}
