#project-one {
  @include project-container;
  height: 42em;
}

header {
  background-color: $primary-blue-color;
  display: flex;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  ul {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

nav li {
  font: {
    family: $font-lora;
    weight: 700;
  }
  margin-right: 3em;
  position: relative;
  text-transform: uppercase;
}

#menu-dropdown {
  display: none;
}

#sign-up-button {
  @include box-shadow;
  font: {
    family: $font-lora;
    size: 16px;
    weight: 700;
  }
  height: 1.8em;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    background-color: lighten($primary-blue-color, 25%);
    cursor: pointer;
  }
}

@media screen and (max-width: 650px) {
  header {
    padding-right: 0.1em;
  }

  .hide-on-mobile, .hidden {
    display: none;
  }

  nav {
    position: relative;
  }

  #menu-dropdown {
    display: block;
  }

  .hidden {
    background: #ecc53a;
    font-family: $font-lora;
    font-weight: 700;
    line-height: 2.5em;
    padding: 0.2em;
    position: absolute;
    width: 5.4em;
  }

  .hidden li {
    font-size: 14px;
    padding-left: 4px;
    &:hover {
    background: #e0995e;
    width: 5.9em;
    }
  }
  ul li a:hover + .hidden, .hidden:hover {
    display: block;
  }

  #sign-up-button {
    margin-right: 1em;
  }
}
