/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto|Lora:400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #f6f0e8; }

h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  padding: 2em 0 2em 0;
  text-align: center;
  text-transform: uppercase; }

a {
  color: black;
  text-decoration: none; }

.button-container {
  text-align: center; }

#show-code-button-one, #show-code-button-two, #show-code-button-three, #show-code-button-four {
  background-color: #4f779a;
  color: #d8d9d8;
  font-family: "Lora", serif;
  font-size: 14px;
  margin: 6em 0 1.5em 0; }
#show-code-button-one:hover, #show-code-button-two:hover, #show-code-button-three:hover, #show-code-button-four:hover {
  background-color: #355067;
  cursor: pointer; }
#show-code-button-one:focus, #show-code-button-two:focus, #show-code-button-three:focus, #show-code-button-four:focus {
  outline: none; }

#code-snippet-one, #code-snippet-two, #code-snippet-three, #code-snippet-four {
  text-align: center;
  width: 100%;
  height: 345px;
  margin: 0 0 2em 0; }

#project-one {
  margin: auto;
  margin-top: 0.5em;
  width: 89%; }

header {
  background-color: #3e5d78;
  display: flex;
  padding: 1em; }

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%; }
nav ul {
  align-items: center;
  display: flex;
  justify-content: center; }

nav li {
  font-family: "Lora", serif;
  font-weight: 700;
  margin-right: 3em;
  position: relative;
  text-transform: uppercase; }
nav li a {
  color: #d8d9d8; }

nav a:hover {
  color: #7b9dbb; }

#menu-dropdown {
  display: none; }

#sign-up-button {
  -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #6a90b2;
  color: #d8d9d8;
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: 700;
  height: 1.8em;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase; }
#sign-up-button:hover {
  background-color: #355067;
  cursor: pointer; }

@media screen and (max-width: 650px) {
  header {
    padding-right: 0.1em; }

  .hide-on-mobile, .hidden {
    display: none; }

  nav {
    position: relative; }

  #menu-dropdown {
    display: block; }

  .hidden {
    background: #ecc53a;
    font-family: "Lora", serif;
    font-weight: 700;
    line-height: 2.5em;
    padding: 0.2em;
    position: absolute;
    width: 5.4em; }

  .hidden li {
    font-size: 14px;
    padding-left: 4px; }
  .hidden li:hover {
    background: #e0995e;
    width: 5.9em; }

  ul li a:hover + .hidden, .hidden:hover {
    display: block; }

  #sign-up-button {
    margin-right: 1em; } }
#project-two {
  margin: auto;
  margin-top: 0.5em;
  width: 89%;
  border-top: 2px dashed black; }

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.content-card {
  background-color: #cfdbe6;
  box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 420px;
  margin-bottom: 2em;
  width: 350px; }

.card-image {
  height: 250px;
  overflow: hidden; }

.card-title {
  font-family: "Lora", serif;
  margin-top: 0.8em;
  text-align: center; }

.card-link {
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0.5em;
  text-decoration: none; }
.card-link:hover {
  color: #3e5d78;
  cursor: pointer; }

.card-description {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  padding: 0.5em 1em 0.5em 1em; }

#code-snippet-two {
  margin-bottom: 2.5em; }

@media screen and (max-width: 414px) {
  .content-card {
    width: 100%; } }
#project-three {
  margin: auto;
  margin-top: 0.5em;
  width: 89%;
  border-top: 2px dashed black; }

#accordion-tab {
  margin: 0 auto;
  width: 64%; }

article {
  display: none; }

input {
  display: none;
  position: relative; }

input:checked + label {
  z-index: 2; }

input:checked + label::before {
  background-color: #7b9dbb; }

label {
  display: inline-block;
  font-family: "Lora", serif;
  font-weight: 600;
  position: relative;
  padding: 1.5em 1.5em 1em;
  margin: -2px;
  text-align: center;
  width: 60px; }

label:hover {
  cursor: pointer; }

label::before {
  background: #3e5d78;
  border: .1em solid #aaa;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: .5em;
  left: 0;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
  z-index: -1; }

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0 10px 0; }

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5; }

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3 {
  display: block; }

@media screen and (max-width: 915px) {
  #accordion-tab {
    margin: 0 auto;
    padding: 0;
    width: 100%; }

  label {
    font-size: 15px;
    padding: 1.5em 1.2em 1em; } }
#project-four {
  margin: auto;
  margin-top: 0.5em;
  width: 89%;
  border-top: 2px dashed black;
  height: 45em; }

footer {
  background-color: #3e5d78;
  display: flex;
  padding: 1em; }

#footer-nav {
  display: flex;
  justify-content: flex-start; }

#footer-nav-links a {
  color: #d8d9d8; }
#footer-nav-links a:hover {
  color: #7b9dbb; }
#footer-nav-links li {
  font-family: "Roboto", sans-serif;
  margin: 0;
  margin-left: 1.5em; }

#legal-information {
  display: flex; }
#legal-information a {
  color: #d8d9d8;
  font-family: "Roboto", sans-serif; }
#legal-information a:hover {
  color: #7b9dbb; }
#legal-information ul {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 270px; }

#privacy-policy {
  margin: 0 0.5em 0 1.2em; }

#social-media-links {
  align-items: center;
  display: flex;
  justify-content: center; }

.social-media {
  margin-left: 0.5em; }

#copyright {
  background-color: #3e5d78;
  color: #d8d9d8;
  float: left;
  padding-bottom: 0.5em;
  text-indent: 1em;
  width: 100%; }

@media screen and (max-width: 930px) {
  footer {
    flex-direction: column; }

  #legal-information, #footer-nav {
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    width: 100%; }

  #footer-nav {
    margin-top: 1em; }

  #legal-information {
    margin-left: 1em; }

  #footer-logo {
    display: flex;
    justify-content: center; } }
@media screen and (max-width: 400px) {
  #legal-information ul, #footer-nav-links, #social-media-links {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%; }

  #legal-information ul, #footer-nav-links {
    flex-direction: column; }

  #footer-logo {
    display: flex;
    justify-content: flex-start; }

  #privacy-policy, #legal-information {
    margin-left: 0; }

  .social-media {
    margin: 0 0.5em 0 0; }

  #footer-nav-links li, #legal-information li {
    margin-left: 0;
    margin-bottom: 1em; } }

/*# sourceMappingURL=main.css.map */
