#project-one {
  height: 42em;
  margin: auto;
  margin-top: 0.5em;
  width: 90%;
}

h1 {
  font-family: 'Lora', serif;
  font-weight: 400;
  padding: 2em 0 2em 0;
  text-align: center;
}

header {
  background-color: #3e5d78;
  display: flex;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: center;
}

nav li {
  font-family: 'Lora', serif;
  font-weight: 700;
  margin-right: 3em;
  position: relative;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}

#menu-dropdown {
  display: none;
}

#sign-up-button {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 16px;
  height: 1.8em;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
}

#sign-up-button:hover {
  background-color: #ecc53a;
  cursor: pointer;
}

.show-code-button {
  margin-top: 6em;
  text-align: center;
}

.code-snippet {
  text-align: center;
  width: 100%;
}

.codepen {
  margin-top: 1em;
}

@media screen and (max-width: 650px) {
  header {
    padding-right: 0.1em;
  }
  .hide-on-mobile, .hidden {
    display: none;
  }
  nav {
    position: relative;
  }
  #menu-dropdown {
    display: block;
    padding: 0 1em 0 0;
  }
  .hidden {
    background: #ecc53a;
    font-family: 'Lora', serif;
    font-weight: 700;
    line-height: 2.5em;
    padding: 0.2em;
    position: absolute;
    width: 5.5em;
  }
  .hidden li:hover {
    background: #e0995e;
    width: 5.5em;
  }
  ul li a:hover + .hidden, .hidden:hover {
    display: block;
  }
  #sign-up-button {
    margin-right: 1em;
  }
}
